.igg_CaribbeanControl
{
	background-color:WhiteSmoke;
	border:solid 1px #001060;
	cursor:default;
}


.igg_CaribbeanHeader
{
	background-color:#ACB3F6;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/header_grid.gif);
	color:White;
}

.igg_CaribbeanHeaderCaption
{
	font-size: 12px;
	padding:3px 0 3px 8px;
	overflow: hidden;
	text-align:left;
	border-top:1px solid #bfe1ff;
    border-right:1px solid #8d97f3;
    border-bottom:1px solid #6f7bef;
    border-left:1px solid #cbcff9;
}

.igg_CaribbeanGroupFieldHeaderCaption
{
    text-align: center;
    text-shadow: 1px 1px #121fa3;
    font-size: 14px;
}

.igg_CaribbeanFooter
{
	background-color:#F3F8FB;
	background-position:center ;
	background-image:none;
	height: 22px;
}


.igg_CaribbeanFooterCaption
{
	font-weight:normal;
	padding-left:8px;
	overflow: hidden;
	line-height: 20px;
	text-align:left;
}


tbody.igg_CaribbeanItem>tr>td
{
	background-color:#F4F6F6;
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(images/item_bg.gif);
	border-top:solid 1px Gainsboro;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	vertical-align:middle;
}


.igg_CaribbeanScrollbarIntersection
{
}


.igg_CaribbeanRowSelector
{
	background-color:White;
	border-top:solid 1px #DCDCDC;
	border-right:solid 1px #DCDCDC;
	border-left:solid 1px #DCDCDC;
	width: 35px;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igg_CaribbeanPager
{
	background-color:#E0F3FB;
	background-image: url(images/item_alt.gif);
	border-width:0px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:right;
}


.igg_CaribbeanPageLink
{
	font-weight:bold;
	margin-right:15px;
	cursor:pointer;
	color:DarkBlue;
	text-decoration:underline;
}


.igg_CaribbeanFilterRuleDropDown
{
	background-attachment:scroll;
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_summarydropdownbg.png);
	font-size:xx-small;
	font-family: verdana;
	border:solid 1px #83AFDF;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
	box-shadow: 0 4px 8px 0 #5A5A5A;
	filter: progid : DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}


.igg_CaribbeanFilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_CaribbeanResizeIndicator
{
	background-color:#2866D2;
	width: 2px;
}


.igg_CaribbeanFixedColumnSeparatorCssClass
{
	background-color:#2A6AD3;
	width: 3px;
}


.igg_CaribbeanFixedColumnPinButtonCssClass
{
	padding-top:0px;
	padding-right:3px;
	cursor:pointer;
	vertical-align:middle;
}


.igg_CaribbeanVirtualScrollTooltip
{
	background-color:#2866D2;
	font-size:10px;
	border:solid 1px #001060;
	padding:3px;
	color:White;
	text-align:center;
}


.igg_CaribbeanTopDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/igg_topdragindicator.png);
	margin-top:2px;
	width: 11px;
	height: 6px;
	z-index: 100;
}


.igg_CaribbeanMiddleDragIndicator
{
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(images/igg_middledragindicator.png);
	width: 11px;
}


.igg_CaribbeanBottomDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/igg_bottomdragindicator.png);
	margin-top:-2px;
	width: 11px;
	height: 6px;
	position: absolute;
	z-index: 100;
}


.igg_CaribbeanDragMarkup
{
}


.igg_CaribbeanSummary
{
	font-weight:bold;
	font-size:9px;
	border-bottom:solid 1px #CBCBCB;
	overflow: hidden;
	line-height: 20px;
	color:#444444;
	text-align:right;
}


.igg_CaribbeanSummaryButton
{
	background-color: none;
	border-style:none;
	border-color: medium;
	margin:0px;
	padding:0px;
	cursor:pointer;
}


.igg_CaribbeanSummaryDropDown
{
	background-attachment:scroll;
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_summarydropdownbg.png);
	font-size:11px;
	font-family: verdana;
	border:solid 1px #011161;
	padding:12px;
	width: 146px;
	_overflow: hidden!important;
	box-shadow: 0 4px 8px 0 #5A5A5A;
	filter: progid : DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}


.igg_CaribbeanSummaryDropDownItem
{
	font-weight:normal;
	cursor:default;
	color:Black;
}


.igg_CaribbeanSummaryRow
{
}


.igg_CaribbeanFixedColumnHeaderCssClass
{
}


tbody>tr.igg_CaribbeanAlt>td
{
	background-color:#E6F5FC;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/item_alt.gif);
	padding:5px 8px 5px 8px;
	vertical-align:middle;
}


.igg_CaribbeanHeaderRowSelector
{
    background-color: Transparent;
    border-color: #BFE1FF #8D97F3 #6F7BEF #CBCFF9;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}




.igg_CaribbeanFooterRowSelector
{
	background-color:Transparent;
	background-image:none;
	border:solid 0px Gainsboro;
}


.igg_CaribbeanSelectedHeader
{
}


.igg_CaribbeanPageCurrent
{
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/submit_down.gif);
	font-weight:bold;
	margin-right:15px;
	padding:2px 6px 5px 6px;
	width: 20px;
	color:White;
}


tr.igg_CaribbeanAddNewRow>td
{
	background-color:#F7F7F7;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
	color:#333333;
}


.igg_CaribbeanAddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_CaribbeanAddNewRowSelectorCssClass
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_CaribbeanAddNewRowExpansionColumnCssClass
{
}


.igg_CaribbeanFilterRow
{
	font-size:10px;
	font-family: Verdana;
	border-top:solid 0px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	height: 22px;
	color:Black;
}


.igg_CaribbeanFilterRuleDropDownItem
{
	font-size:11px;
	font-family: Verdana;
	margin:1px 0px 1px 0px;
	padding:0px 3px 0px 3px;
}


.igg_CaribbeanFilterRowSelectorImage
{
}


.igg_CaribbeanFilterRowSelectorCssClass
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_CaribbeanFilterRow>td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_CaribbeanFilterRowExpansionColumnCssClass
{
}


tbody.igg_CaribbeanFixedColumnCellCssClass>tr>td
{
}


.igg_CaribbeanFixedColumnFooterCssClass
{
	font-weight:bold;
}


.igg_CaribbeanHeaderScrollbarIntersection
{
}


.igg_CaribbeanFooterScrollbarIntersection
{
}


.igg_CaribbeanSelectedRowSelector
{
	background-color:#6BB6EB;
	background-repeat:no-repeat;
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
}


.igg_CaribbeanSelectedRowSelectorImage
{
}


tr.igg_CaribbeanAddNewRowTop>td
{
}


tr.igg_CaribbeanAddNewRowBottom>td
{
}


.igg_CaribbeanFilterRowTop
{
}


.igg_CaribbeanFilterRowBottom
{
}


.igg_CaribbeanFilterRuleDropDownSelectedItem
{
	font-size:11px;
	font-family: Verdana;
	margin:1px 0px 1px 0px;
	padding:0px 3px 0px 3px;
}


tr.igg_CaribbeanFilterRowTop>td
{
}


tr.igg_CaribbeanFilterRowBottom>td
{
}


tbody>tr>td.igg_CaribbeanSelectedCell
{
	background-color:#4A87DC;
	background-image: url(images/igg_selected.gif);
	color:White;
}


.igg_CaribbeanAddNewRowScrollbarIntersection
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_CaribbeanFilterDisabled
{
}


.igg_CaribbeanFilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tbody>tr>td.igg_CaribbeanActiveCell
{
}


.igg_CaribbeanActiveRow
{
}


.igg_CaribbeanActiveColumn
{
}


.igg_CaribbeanActiveRowSelectorImage
{
	color:White;
}


.igg_CaribbeanActiveRowSelector
{
	background-color:#6BB6EB;
	background-repeat:no-repeat;
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
}


.igg_CaribbeanFilterRuleDropDownHoverItem
{
	background-image: url(images/header.gif);
	font-size:11px;
	font-family: Verdana;
	margin:1px 0px 1px 0px;
	padding:0px 3px 0px 3px;
	color:White;
}


.igg_CaribbeanEditCell
{
	background-color:White;
	border:solid 1px #AAAAAA !important;
}


tbody tr.igg_CaribbeanAltIE6 td
{
	background-color:#E6F5FC;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/item_alt.gif);
	padding:5px 8px 5px 8px;
	vertical-align:middle;
}


tr.igg_CaribbeanAddNewRowIE6 td
{
	background-color:#F7F7F7;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


.igg_CaribbeanSummaryRow th
{
	background-color:#F7F7F7;
	border-bottom:solid 1px #D8D8D8;
}


.igg_CaribbeanSummaryDropDown input
{
	background-attachment:scroll;
	background-color:#4A87DC;
	background-repeat:repeat-x;
	background-image: url(images/igg_buttonsbg.png);
	border:solid 1px #011161;
	margin-top:10px;
	margin-right:3px;
	width: 70px;
	color:#000FFF;
}


tr.igg_CaribbeanFilterRowTopIE6 td
{
}


tr.igg_CaribbeanFilterRowIE6 td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_CaribbeanAddNewRowBottomIE6 td
{
}


.igg_CaribbeanSummaryDropDownItem img
{
	margin-right:5px;
	cursor:pointer;
}


tbody tr td.igg_CaribbeanActiveCellIE6
{
}


tr.igg_CaribbeanFilterRowBottomIE6 td
{
}


.igg_CaribbeanFooter tr[mkr="columnheaderrow"] th
{
	background-color:#F7F7F7;
	border-top:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
}


tbody.igg_CaribbeanItemIE6 tr td
{
	background-color:#F4F6F6;
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(images/item_bg.gif);
	border-top:solid 1px Gainsboro;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	vertical-align:middle;
}


.igg_CaribbeanFilterButton>td
{
	border-top:solid 0px Transparent;
	border-right:solid 0px Transparent;
	border-bottom:solid 0px Transparent;
	border-left:solid 0px Transparent;
}


tbody tr td.igg_CaribbeanSelectedCellIE6
{
	background-color:#4A87DC;
	background-image: url(images/igg_selected.gif);
	color:White;
}


tr.igg_CaribbeanAddNewRowTopIE6 td
{
}

/******************/

/*Batch Editing*/

@-webkit-keyframes addingHighlight {
	0% {background-color:#5d94f3;}
	100% {background-color:#F4F6F6;}
	}
@-moz-keyframes addingHighlight {
	 0% {background-color:#5d94f3;}	
	 100% {background-color:#F4F6F6;}
	}

tbody>tr.igg_CaribbeanAddingRow>td
{	
    background-image: none;
    
    -webkit-animation-name: addingHighlight;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 2s;
		
	-moz-animation-name: addingHighlight;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 2s;	
	
    -o-animation-name: addingHighlight;
	-o-animation-timing-function: ease-in-out;
	-o-animation-duration: 2s;
	
    animation-name: addingHighlight;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}

tbody tr.igg_CaribbeanAddedRow td
{
    background-color: #F4F6F6;
	color:#666;
    font-style: italic;
    background-image: none;
}

.igg_CaribbeanDeletedRow
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}
.igg_CaribbeanDeletedRow td
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}
.igg_CaribbeanDeletedRow th
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}


.igg_CaribbeanUndoButton 
{
   	background-color: #3d75d8;
	background-image: url(images/igte_spinbuttonbg.gif);
	background-position:top left;
	background-repeat: repeat-x;
	line-height:normal;
	border:solid 1px #699BC9;
	color: #FFFFFF;
	text-shadow: 1px 1px #0B2D4D;
	cursor: pointer;
	padding:3px;
	
	-webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
    
.igg_CaribbeanUndoButtonHover 
{
    background-color: #15336a;
	background-image: url(images/igte_spinbuttonbghover.gif);
}

.igg_CaribbeanUndoButtonPressed
{
	background-color: #15336a;
	background-image: url(images/igte_spinbuttonbgpressed.gif);
}


.igg_CaribbeanUpdatedRow
{    
	 color:#666;
     font-style: italic;
     background-image: none;
}
.igg_CaribbeanUpdatedRow td
{    
	 color:#666;
     font-style: italic;
     background-image: none;
}
.igg_CaribbeanAlt.igg_CaribbeanUpdatedRow td
{    
	 color:#666;
     font-style: italic;
     background-image: none;
}


.igg_CaribbeanUpdatedRow th
{    
	 color:#666;
	 font-style: italic;
}
.igg_CaribbeanAlt.igg_CaribbeanUpdatedRow th
{    
	 color:#666;
	 font-style: italic;
}
.igg_CaribbeanAddedRow th
{    
	 color:#666;
	 font-style: italic;
}
.igg_CaribbeanAlt.igg_CaribbeanAddedRow th
{    
	 color:#666;
	 font-style: italic;
}

.igg_CaribbeanUpdatedRow .igg_CaribbeanActiveRowSelector {color:#ddd;}
.igg_CaribbeanAlt.igg_CaribbeanUpdatedRow .igg_CaribbeanActiveRowSelector {color:#ddd;}
.igg_CaribbeanAddedRow .igg_CaribbeanActiveRowSelector {color:#ddd;}
.igg_CaribbeanAlt.igg_CaribbeanAddedRow .igg_CaribbeanActiveRowSelector {color:#ddd;}