<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <system.runtime.remoting>
      <application>
         <service>
			<!--Common
			<activated type="BenQGuru.eMES.Common.DomainDataProvider.SQLDomainDataProvider,BenQGuru.eMES.Common"/>
			<activated type="BenQGuru.eMES.Common.PersistBroker.OLEDBPersistBroker,BenQGuru.eMES.Common"/>-->
			<!--Security-->
			<activated type="BenQGuru.eMES.Security.SecurityFacade,BenQGuru.eMES.Security"/>
			<!--MOModel-->
			<activated type="BenQGuru.eMES.MOModel.MOFacade,BenQGuru.eMES.MOModel"/>
			<!--BaseSetting-->
			<activated type="BenQGuru.eMES.BaseSetting.BaseModelFacade,BenQGuru.eMES.BaseSetting"/>
			<activated type="BenQGuru.eMES.BaseSetting.SystemSettingFacade,BenQGuru.eMES.BaseSetting"/>
			<activated type="BenQGuru.eMES.BaseSetting.UserFacade,BenQGuru.eMES.BaseSetting"/>
			<!--Web.Helper-->
			<activated type="BenQGuru.eMES.Web.Helper.FormatHelper,BenQGuru.eMES.Web.Helper"/>
			<!--TS-->
			<activated type="BenQGuru.eMES.TS.TSFacade,BenQGuru.eMES.TS"/>
          </service>
         <channels>
			<channel ref="tcp" port="9099">
				<serverProviders>
					<formatter ref="binary" typeFilterLevel="Full"/>
				</serverProviders>
			</channel>
         </channels>
         

         <!--
			Below is an example of using a different port.
          -->
         <!--
         <channels>
			<channel ref="tcp" port="9090">
				<serverProviders>
					<formatter ref="binary"/>
				</serverProviders>
			</channel>
         </channels>
		-->
      </application>
      <customErrors mode="off"/>
   </system.runtime.remoting>
</configuration>