<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ServiceEntities" type="BenQGuru.eMES.SAPDataTransferService.ServiceEntitySectionHandler, BenQGuru.eMES.SAPDataTransferService"/>
    <section name="ScheduledServiceEntities" type="BenQGuru.eMES.SAPDataTransferService.ScheduledServiceEntitySectionHandler, BenQGuru.eMES.SAPDataTransferService"/>

    <section name="MaterialTransferConfig" type="BenQGuru.eMES.SAPDataTransfer.TransferServiceHandler, BenQGuru.eMES.SAPDataTransfer"/>
    <section name="MOHeaderTransferConfig" type="BenQGuru.eMES.SAPDataTransfer.TransferServiceHandler, BenQGuru.eMES.SAPDataTransfer"/>
    <section name="MOBOMTransferConfig" type="BenQGuru.eMES.SAPDataTransfer.TransferServiceHandler, BenQGuru.eMES.SAPDataTransfer"/>
    <section name="StandardBOMTransferConfig" type="BenQGuru.eMES.SAPDataTransfer.TransferServiceHandler, BenQGuru.eMES.SAPDataTransfer"/>

  </configSections>
  <ServiceEntities>
      <!--
	  Interval: indicated how ofter will the service run,seconds
	  AssemblyPath: assembly to be executed
	  Type:class name with namespace that implements BenQ.ServiceShell.ICommand
	  for example:
	  <ServiceEntity Key = "ShellTest" Interval = "5" AssemblyPath = "E:\ServiceShell\ShellTest\bin\Debug\ShellTest.dll" Type = "ShellTest.EntryClass"></ServiceEntity>
	  -->
    <!--ServiceEntity Key="MaterialTransfer" Interval="10" Type="BenQGuru.eMES.SAPDataTransfer.MaterialTransfer" AssemblyPath="E:\Work\MES\Hisense\Source\BenQGuru.eMES.SAPDataTransfer\bin\BenQGuru.eMES.SAPDataTransfer.dll" ></ServiceEntity-->
    <!--ServiceEntity Key="MOTransfer" Interval="20" Type="BenQGuru.eMES.SAPDataTransfer.MOTransfer" AssemblyPath="E:\Work\MES\Hisense\Source\BenQGuru.eMES.SAPDataTransfer\bin\BenQGuru.eMES.SAPDataTransfer.MOTransfer.dll" ></ServiceEntity-->
    <ServiceEntity Key="AlertMail" Interval="5" Type="BenQGuru.eMES.AlertMailService.AlertMail" AssemblyPath="G:\Net Project\Hisense\BenQGuru.eMES.SAPDataTransfer\bin\BenQGuru.eMES.AlertMailService.dll"></ServiceEntity>
  </ServiceEntities>
  <ScheduledServiceEntities>
    <!--
	  AssemblyPath: assembly to be executed
	  Type:class name with namespace that implements BenQ.ServiceShell.ICommand
    StartHour:10, the hour that the scheduled service start
    StartMinutes:25, the minutes that the scheduled service start
    10:25
	  for example:
	  <ScheduledServiceEntity Key = "ShellTest" StartHour = "10" AssemblyPath = "E:\ServiceShell\ShellTest\bin\Debug\ShellTest.dll" Type = "ShellTest.EntryClass"></ScheduledServiceEntity>
	  -->
    <!--ScheduledServiceEntity Key="MaterialTransfer" StartHour="9" StartMinutes="25"  Type="BenQGuru.eMES.SAPDataTransfer.MaterialTransfer" AssemblyPath="E:\Work\MES\Hisense\Source\BenQGuru.eMES.SAPDataTransfer\bin\BenQGuru.eMES.SAPDataTransfer.dll" ></ScheduledServiceEntity>
    <ScheduledServiceEntity Key="MOTransfer" StartHour="9" StartMinutes="25" Type="BenQGuru.eMES.SAPDataTransfer.MOTransfer" AssemblyPath="E:\Work\MES\Hisense\Source\BenQGuru.eMES.SAPDataTransfer\bin\BenQGuru.eMES.SAPDataTransfer.dll" ></ScheduledServiceEntity-->
    <ScheduledServiceEntity Key="StandardBOMTransfer" StartHour="11" StartMinutes="25" Type="BenQGuru.eMES.SAPDataTransfer.StandardBOMTransfer" AssemblyPath="E:\Work\MES\Hisense\Source\BenQGuru.eMES.SAPDataTransfer\bin\BenQGuru.eMES.SAPDataTransfer.dll"></ScheduledServiceEntity>
  </ScheduledServiceEntities>

  <!--Begin for WebService Config and Argument config of each service-->
  <!--Material Transfer-->
  <MaterialTransferConfig>
    <!--Url : The Url of the WebMethod-->
    <WebService Url="http://172.16.41.107:50000/XISOAPAdapter/MessageServlet?channel=:BS_MESDEV:CC_SOAP_MATERIAL&amp;version=3.0&amp;Sender.Service=BS_MESDEV&amp;Interface=urn%3Asap2mes%3Amaterial%5EMI_MES_MATERIAL_REQ" UserName="mesuser" Password="123456"></WebService>
  </MaterialTransferConfig>

  <!--MO Transfer-->
  <MOHeaderTransferConfig>
    <!--Url : The Url of the WebMethod-->
    <WebService Url="http://172.16.41.107:50000/XISOAPAdapter/MessageServlet?channel=:BS_MESDEV:CC_SOAP_Productionorder&amp;version=3.0&amp;Sender.Service=BS_MESDEV&amp;Interface=urn%3Asap2mes%3Aproductionorder%5EMI_MES_PO_REQ" UserName="mesuser" Password="123456"></WebService>
  </MOHeaderTransferConfig>

  <!--MOBOM Transfer-->
  <MOBOMTransferConfig>
    <!--Url : The Url of the WebMethod-->
    <WebService Url="http://172.16.41.107:50000/XISOAPAdapter/MessageServlet?channel=:BS_MESDEV:CC_SOAP_POBOM&amp;version=3.0&amp;Sender.Service=BS_MESDEV&amp;Interface=urn%3Asap2mes%3Apobom%5EMI_MES_POBOM_REQ" UserName="mesuser" Password="123456"></WebService>
  </MOBOMTransferConfig>

  <!--StandardBOM Transfer-->
  <StandardBOMTransferConfig>
    <!--Url : The Url of the WebMethod-->
    <WebService Url="http://172.16.41.107:50000/XISOAPAdapter/MessageServlet?channel=:BS_MESDEV:CC_SOAP_Sender_Template&amp;version=3.0&amp;Sender.Service=BS_MESDEV&amp;Interface=urn%3Asap2mes%3Amaterialbom%5EMI_MES_MATBOM" UserName="mesuser" Password="123456"></WebService>
  </StandardBOMTransferConfig>

  <appSettings>
    <add key="OrgID" value="2000"/>
    <add key="MaxDaysOfPeriod" value="2000"/>
    <add key="MaxMoPerRequest" value="50"/>
    <add key="XMLPath" value="C:\Guru\SAPInterface\XML\"/>
    <!--设定整数值，表示与当前执行时间的时间差-->
    <add key="DateOffSet" value="-1"/>
    <!--设定WebService的TimeOut时间，单位为秒-->
    <add key="WebServiceTimeOut" value="120"/>
    <!--设置当访问WebService超时重试次数-->
    <add key="ReTryTimes" value="5"/>
    <!--设置每次超时重试之间的时间间隔-->
    <add key="ReTryInterval" value="10"/>
    <add key="SRMWebServiceUrl" value="http://hi1-ibmsv601/WebConsole/purchorderservice.asmx"/>

    <!--设定邮件服务器信息-->
    <add key="MailServerAddress" value="BQC-MSV11.BQC.CORP.COM"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailSendUserName" value="bqc\windy.xu"/>
    <add key="MailSendUserPassword" value=""/>
    <add key="MailSendFrom" value="windy.xu@benq.com"/>
    <add key="MailSignature" value="系统自动发送邮件，请勿直接回复。"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
