/*

Main control CSS class
*/
.igdd_IGControl
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdd_IGControlDisabled
{
}


/*
 Main control css class on hover
*/
.igdd_IGControlHover
{
	background-color:White;
}


/*

*/
.igdd_IGControlFocus
{
	border:solid 1px #C9C9C9;
	table-layout: fixed;
	background:White url(images/igdd_Sprite.png) repeat-x 0 0;
	
	/* Rounded corners */
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}


.igdd_IGControlArea
{
	border:solid 1px #C9C9C9;
	table-layout: fixed;
	background:White url(images/igdd_Sprite.png) repeat-x 0 0;
	
		
	/* Rounded corners */
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}


/*
CSS class for the actual input field (<input type="text" />)
*/
.igdd_IGValueDisplay
{
	background-color:transparent;
	font-weight:normal;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 100%;
	z-index: 0;
}


/*

*/
.igdd_IGValueDisplayHover
{
	background-color:transparent;
}


/*

*/
.igdd_IGValueDisplayFocus
{
	background-color:transparent;
}


/*

*/
.igdd_IGValueDisplayDisabled
{
    background-color:Transparent;
    border:0px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10pt;
    font-weight:normal;
    width:100%;
    z-index:0;
}


/*

*/
.igdd_IGValueDisplayReadOnly
{
}


/*

*/
.igdd_IGDropDownList
{
	background-color:White;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:1px;
}


/*

*/
.igdd_IGDropDownListHover
{
}


/*

*/
.igdd_IGDropDownListReadOnly
{
}


/*
	
*/
.igdd_IGDropDownListContainer
{
	background-color:White;
	border:solid 1px #868686;
	float: left;
}


/*

*/
.igdd_IGDropDownListContainerHover
{
}


/*

*/
.igdd_IGDropDownButton
{
	width: 22px;
	height: 22px;
	z-index: 9999;
}

.igdd_IGDropDownButton img 
{
    display:block;
}


/*

*/
.igdd_IGDropDownButtonHover
{
}


/*
CSS class that controls the style of the LI items in the list
*/
.igdd_IGListItem
{
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px White;
	padding:3px 5px 3px 5px;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
	
	color:#1F3979;
}
	/* IE 6 fix */
	.ie6 .igdd_IGtListItem {
		border:solid 1px white;
	}

/*

*/
.igdd_IGListItemActive
{
	background-color:White;
	border:solid 1px #3AB5E9;
	list-style-type: none;
}


/*

*/
.igdd_IGListItemHover
{
	background-color:#2788B1;
	background-repeat:repeat-x;
	background-position:0 -92px;
	background-image: url(images/igdd_Sprite.png);
	border:solid 1px #2788B1;
	list-style-type: none;
}
	/* IE 6 fix */
	.ie6 .igdd_IGListItemHover {
		border:solid 1px white;
	}


.igdd_IGListItemSelected
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:0 bottom;
	background-image: url(images/igdd_Sprite.png);
	border:solid 1px #3AB5E9;
	list-style-type: none;
}

/*

*/
.igdd_IGListItemDisabled
{
	list-style-type: none;
	width: auto;
	cursor:default;
}


/*
Applied to the whole pager
*/
.igdd_IGPager
{
	background-color:Transparent;
	border-top:solid 1px #868686;
	vertical-align:middle;
}


/*
Loading message container
*/
.igdd_IGLoadingItemsMessage
{
	background-color:#44ACD6;
	font-weight:bold;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:1px 0px 0px 1px;
	padding:3px;
	color:White;
	width:80%;
}


/*
Styles the current page link only
*/
.igdd_IGPageCurrent
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:5px 3px;
	float: left;
	cursor:pointer;
	color:#37ADDF;
	text-decoration:underline;
	vertical-align:middle;
}


/*
Styles all page links in general 
*/
.igdd_IGPageLink
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#484848;
	vertical-align:middle;
}


/*
pseudo class used so Value Display input does not have focus
glow in some browsers like GoogleChrome or AppleSafari
*/
input:focus
{
	outline: none;
}


/*.igdd_IGListItemActive a:link
{
	color:#484848;
	text-decoration:none;
}*/


.igdd_IGListItem a:active
{
}


/*
Styling for anchor when hovered anywhere on ListItem
*/
/*.igdd_IGListItemHover a:link
{
	color:#484848;
	text-decoration:none;
}*/


/*

*/
.igdd_IGListItemFocus
{
	list-style-type: none;
	width: auto;
}


/*
	
*/
.igdd_IGDropDownButtonFocus
{
}


.igdd_IGListItem a, .igdd_IGListItemSelected a
{
	color:#484848;
	text-decoration:none;
}

.igdd_IGListItemHover a {
	color:White;
}

.igdd_IGListItemSelected a
{
	color:#484848;
}

.igdd_IGDropDownListContainerFocus
{
}


/*.igdd_IGListItem a:hover
{
	color:White;
}*/


/*
For Disabled=True of a DropDownItem
*/
.igdd_IGListItemDisabled a:link
{
	cursor:default;
	color:#8D8D8D;
}


/*
 CSS class for the table that accomodates the value display and the drop down button, and which is a 
 child of the main control (div)
*/
.igdd_IGValueDisplayTable
{
}


/*

*/
.igdd_IGDropDownButtonDisabled
{
}


/*

*/
.igdd_IGDropDownListFocus
{
}


/*

*/
.igdd_IGDropDownListDisabled
{
}