<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BenQGuru.eMES.BaseDataModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BenQGuru.eMES.BaseDataModel.BenQGuru.eMES.BaseDataModel" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BenQGuru.eMES.BaseDataModel.Properties.Settings>
            <setting name="DataRepeat" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="DataError" serializeAs="String">
                <value>Ignore</value>
            </setting>
            <setting name="DataMappingType" serializeAs="String">
                <value>ByName</value>
            </setting>
        </BenQGuru.eMES.BaseDataModel.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
