<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
  <configurationSections>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config"/>
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes/>
      </dataTransformer>
    </configurationSection>
  </configurationSections>
  <keyAlgorithmStorageProvider xsi:nil="true"/>
</enterpriselibrary.configurationSettings>
<appSettings>
	<add key="Uri" value="http://hi1-venus-feng/publish"/>
	<add key="ZipFileName" value="Updater.zip"/>
  <add key="MainAssemblyName" value="BenQGuru.eMES.Client.exe"/>
  <add key="DCTAssemblyName" value="DCTControlPanel.exe"/>
	<add key="ConnectionString" value="36D33C12B50E07DFAD858D57CFD2208ED4812EF86CBAAAB82AA0E542E13D5F7BB0F590C9E93C930BB844ACD18C453410EBC5C506706C55D345A911D2A6FA61DB82CAEE3A6C0ECED3D23111ACD9B3F353EEBF0AAABADBE71BB0E70FE07A86F674511B406D4495ABFDE6D432B133BE083061825795D7CFBBE7"/>
</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
