<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true"/>
  </enterpriselibrary.configurationSettings>
  <appSettings>
    <!--add key="AddressRage" value="10.89.58.253:55962"/-->
    <add key="AddressRage" value="10.89.53.250:4660~10.89.53.250:4660"/>
    <!--采集成功时是否发声（True:发声；False;不发声）-->
    <add key="BeepSuccess" value="True"/>
    <!--采集出错时是否发声（True:发声；False;不发声）-->
    <add key="BeepError" value="True"/>
    <!--采集出错时发声的时间间隔（单位：毫秒）-->
    <add key="BeepInterval" value="800"/>
    <!--采集出错时发声的次数-->
    <add key="BeepCount" value="3"/>
    <!--采集出错时发声发声的类型（long:长声；short:短声）-->
    <add key="BeepType" value="long"/>

    <!--是否需要物料模块-->
    <add key="NeedMaterialModule" value="0"/>
    <!--是否需要SMT模块，现已不用-->
    <add key="NeedSMT" value="0"/>
    <!--是否允许重复采集NG-->
    <add key="UndoNG" value="0"/>
    <!--Undo NG后是否Undo报表中数据-->
    <add key="UndoNGUndoReport" value="0"/>
    <!--在重开工单返工的第一站，要不要取消序列号以前的包装信息-->
    <add key="TakeDownCartonReMORework" value="0"/>
    <!--归属工单时是否检查序列号范围-->
    <add key="CheckRCardRange" value="0"/>
    <!--是否支持RS485-->
    <add key="RS485" value="0"/>
    <!--显示语言：CHS/CHT/ENU-->
    <add key="Language" value="CHS"/>
    <!--是否输出Log文件-->
    <add key="LogOutput" value="1"/>
    <!--是否测试模式，基本不用-->
    <add key="TestMode" value="0"/>
    <!--测试RS485的配置，基本不用-->
    <add key="DCTCommandPath" value=""/>

    <!--DCT自动重新连接的间隔 单位:秒-->
    <add key="AuotRefreshInterval" value="30"/>
    <!--DCT自动报告状态间隔 单位:秒-->
    <add key="AutoReportInterval" value="60"/>
    <!--程序认为DCT已经异常中断的间隔 单位:秒-->
    <add key="DeadInterval" value="59"/>

  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
