<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="IP" value="10.89.58.149"/>
		<add key="PORT" value="55962"/>
		<add key="USER" value="admin"/>
		<add key="PWD" value="admin"/>
		<add key="RES" value="VL_RES_110"/>
		<add key="END_TIME" value="2006-06-06 17:00:00"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
